﻿@model FIT5032_TheYENConcept_ver5.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationLat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationLat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCharge)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
