﻿@model IEnumerable<FIT5032_TheYENConcept_ver5.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/StyleSheet1.css" rel="stylesheet" />
<h2>Booking with The YEN Concept</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div id="calendar"></div>
<div style="display: none">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCharge)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr class="Bookings">
            <td class="email">
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td class="start">
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCharge)
            </td>
            <td class="ID">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
            }

        </tr>
        }

    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/fullcalendar")
}