﻿@{
    ViewBag.Title = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link href="~/Scripts/StyleSheet1.css" rel="stylesheet" />
<div class="jumbotron">
    <h1>Surround your SOUL</h1>
    <p class="lead" align="justify">
        "At The YEN Concept, you can immerse yourself in a world of peace.
        A world of nature, enjoyment and inspiration. For renewed strength and vitality.
        The YEN Concept will definetely make you feel entirely whole, healed and intact,
        like no piece is missing from the puzzle. It is a connection of minds,
        a mutual respect, a genuine love and a total understanding."
        - George R. R. Martin - CEO of The YEN Concept
    </p>
</div>
<br>

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 300px;">
            <img src="~/Image/Thermal Spa1.jpg" class="card-img-top" width="300" height="180" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b>THERMAL BATHS</b></h5>
                <p class="card-text">
                    Enjoy a world of peace and relaxation,
                    surrounded by tranquillity, space and time. For new strength and vitality.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 300px;">
            <img src="~/Image/Sauna World1.jpg" class="card-img-top" width="300" height="180" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b>SAUNA WORLD</b></h5>
                <p class="card-text">
                    Immerse yourself in the Bad Ragaz sauna world.
                    Sit back, relax and re-energise with our truly incomparable saunas.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 300px;">
            <img src="~/Image/Family Spa1.jpg" class="card-img-top" width="300" height="180" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b>FAMILY SPA</b></h5>
                <p class="card-text">
                    A place where little water enthusiasts can make a big splash. Our separate Family Spa is fun for all the family.
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 300px;">
            <img src="~/Image/Hair Spa1.jpg" class="card-img-top" width="300" height="180" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b>HAIR BAR</b></h5>
                <p class="card-text">
                    With make-up tailored to suit your natural style,
                    ensuring that every aspect of your appearance is radiant.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 300px;">
            <img src="~/Image/Tamina Therme1.jpg" class="card-img-top" width="300" height="180" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b>TAMINA THERME</b></h5>
                <p class="card-text">
                    The Tamina Therme is an architectural masterpiece which
                    unite traditional spa culture with a modern range of saunas.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 300px;">
            <img src="~/Image/Treatments.jpg" class="card-img-top" width="300" height="180" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b>TREATMENTS</b></h5>
                <p class="card-text">
                    Our treatments aid the natural detoxification of the body,
                    help release blockages and stimulate self-healing.
                </p>
            </div>
        </div>
    </div>
</div>