﻿.img-wrapper {
    position: relative;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: -87px;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
}

.btn-responsive {
    /* matches 'btn-md' */
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

@media (max-width:760px) {
    /* matches 'btn-xs' */
    .btn-responsive {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
}

.navbar-inverse {
    background-color: #000000;
    border-color: #000000;
}

.navbar-inner {
    min-height: 0px;
}

.navbar-inverse
.navbar-brand {
    color: #ffffff
}

.navbar-brand,
.navbar-nav li a {
    line-height: 65px;
    height: 75px;
    padding-top: 0;
}

.navbar-brand {
    font-size: 17px;
}

h5.card-title {
    font-size: 20px;
}

body {
    font-family: 'Segoe UI Symbol'
}

h1, .h1 {
    margin-top: -35px;
}

.jumbotron .h1, .jumbotron h1 {
    font-size: 50px;
}

.jumbotron .h1, .jumbotron p {
    font-size: 20px;
}

.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}